/** Fix link underlining & bluing */

body.dark-mode main a {
/*  color: whitesmoke;*/
}

/** CV */

.collapsible{
  border: solid;
  border-color: transparent;
  text-align: left;
  outline: none;
  background-color: whitesmoke;
}

.collapsible:hover {
  border-color: black;
}

/* Add a background color to the button if it is clicked on 
(add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #fff;
}

.collapsible .hide {
  display: none;
}

/* Style the collapsible content. Note: hidden by default */
.collapse-content {
  display: none;
  padding: 0 22px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
/*  background: transparent;*/
}

body.dark-mode {
  .collapse-content * {
    color: whitesmoke;
  }
}

body:not(.dark-mode) .cv-text {
  color: black;
}

body.dark-mode .cv-text {
  color: whitesmoke;
}

.prof-exp {
  list-style-type: none;
  list-style-position: outside;
}

body.dark-mode li {
  color: whitesmoke;
}


/** Styling CV link in About _index.md body */

body.dark-mode p > * {
  text-decoration: none;
  color: whitesmoke;
}

body:not(.dark-mode) p > * {
  text-decoration: none;
  color: black;
}