

/** CV */

.collapsible{
  border: solid;
  border-color: transparent;
  text-align: left;
  outline: none;
  background-color: whitesmoke;
}

.collapsible:hover {
  border-color: black;
}

/* Add a background color to the button if it is clicked on 
(add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #fff;
}

.collapsible .hide {
  display: none;
}

/* Style the collapsible content. Note: hidden by default */
.collapse-content {
  display: none;
  padding: 0 22px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
/*  background: transparent;*/
}

.prof-exp {
  list-style-type: none;
  list-style-position: outside;
}


