/** Navigation */

#SVGRepo_iconCarrier path {
  stroke: currentColor;
}

.theme-icon {
  cursor: pointer;
  transition: 0.2s;
/*  color: #bababa;*/
/*  stroke: currentColor;*/
  opacity: 0.68;
  width: 26px;
  height: 26px;
}

.theme-icon:hover {
  opacity: 1.0;
}






/** Light mode */

body header, main, footer {
  background-color: whitesmoke;
  color: black;
}


/** Dark mode */

body.dark-mode header, body.dark-mode main, body.dark-mode footer {
  background-color: whitesmoke;
  color: black;
}

body.dark-mode .theme-icon {
  color: #bababa;
  opacity:0.73;
}

body.dark-mode .theme-icon:hover {
  opacity: 0.48;
}





/** CV */

.collapsible{
  border: solid;
  border-color: transparent;
  text-align: left;
  outline: none;
  background-color: whitesmoke;
}

.collapsible:hover {
  border-color: black;
}

/* Add a background color to the button if it is clicked on 
(add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #fff;
}

.collapsible .hide {
  display: none;
}

/* Style the collapsible content. Note: hidden by default */
.collapse-content {
  display: none;
  padding: 0 22px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.prof-exp {
  list-style-type: none;
  list-style-position: outside;
}


