
/** Profile pic */

main img {
  border-radius: 40%;
  width: 60%;
  border-style: solid;
  border-color: whitesmoke;
  border-width: 2px;
}

/** Light mode */

body header, main {
  color: goldenrod;
  stroke: currentColor;
}

body footer {
  background-color: goldenrod;
  color: rgb(168, 247, 246);
  transition: 2s;
}

body main {
  background: transparent !important;
  p, h3 {
    color: goldenrod;
  }
}

header .ananke-socials a {
  color: goldenrod;
  stroke: currentColor;
}

footer .ananke-socials a {
  color: rgb(168, 247, 246);
  stroke: currentColor;
}

/** Dark mode */

body.dark-mode {
  header, main {
    color: gold;
  }

  footer {
    background-color: gold;
    color: rgb(50,50,50);
  }
}

body.dark-mode main {
  p, h3 {
    color: gold;
  }
}

body.dark-mode header {
  .ananke-socials a {
    color: gold;
  }
}

body.dark-mode footer {
  .ananke-socials a {
    color: rgb(50, 50, 50);
  }
}


/** Animate link underlining */

body:not(.dark-mode) nav li {
  background-image: linear-gradient(to right, transparent, transparent),linear-gradient(to right, goldenrod, goldenrod);
  background-size: 100% 2px, 0% 0px;
  background-position: 0px 100%, 100% 100%;
  background-clip: content-box;
  background-origin: padding-box;
  background-attachment: scroll;
  background-repeat: no-repeat;
  transition: background-size 0.4s ease 0s;
}

body:not(.dark-mode) nav li:hover {
  background-size: 0% 2px, 100% 2px;
  background-position: 100% 100%, 0px 100%;
}

body.dark-mode nav li {
  background-image: linear-gradient(to right, transparent, transparent),linear-gradient(to right, gold, gold);
  background-size: 100% 2px, 0% 0px;
  background-position: 0px 100%, 100% 100%;
  background-clip: content-box;
  background-origin: padding-box;
  background-attachment: scroll;
  background-repeat: no-repeat;
  transition: background-size 0.4s ease 0s;
}

body.dark-mode nav li:hover {
  background-size: 0% 2px, 100% 2px;
  background-position: 100% 100%, 0px 100%;
}


/** fix name color change in footer (source in main.scss ...) */

footer > div > a:hover{
  color: inherit !important;
}

