
/** Light mode */

/** Set text & background colors */
body:not(.dark-mode) {
  .primary-text { color: blue; }
  .secondary-text { color: purple; }
  .primary-bg { background-color: whitesmoke; }
  .secondary-bg { background-color: #eee; }
  .button-text { color: inherit; }
  .button-bg { background-color: lightgray; } /* whitesmoke */
  .button-hover:hover { background-color: #909090; } /* white */
  .button-border-color: { border-color: #ccc; }
  .theme-border { border-color: rgba( 0, 0, 0, .1 ); }
  
}

body:not(.dark-mode) nav li {
  background-image: linear-gradient(to right, transparent, transparent),linear-gradient(to right, black, black);
  background-size: 100% 2px, 0% 0px;
  background-position: 0px 100%, 100% 100%;
  background-clip: content-box;
  background-origin: padding-box;
  background-attachment: scroll;
  background-repeat: no-repeat;
  transition: background-size 0.4s ease 0s;
}

body:not(.dark-mode) nav li:hover {
  background-size: 0% 2px, 100% 2px;
  background-position: 100% 100%, 0px 100%;
}

body header, main, footer, nav {
  background-color: whitesmoke;
  color: black;
/*  transition: 1s;*/
}

body main {
  p, h1, h2, h3, h4, li {
    color: black;
  }
  display: flex;
}

body footer {
  border-style: solid;
  a {
    color: black;
  }
}

nav li a {
  color: black;
}

.ananke-socials a {
  color: black;
}

/** Dark mode */

/** Set text & background colors */
body.dark-mode {
  .primary-text { color: blue; }
  .secondary-text { color: gray; }
  .primary-bg { background-color: #333; }
  .secondary-bg { background-color: #444; }
  .button-text { color: whitesmoke; }
  .button-bg { background-color: #555; } /* whitesmoke */
  .button-hover:hover { background-color: #888; } /* white */
  .button-border-color: { border-color: #fff; }
  .theme-border { border-color: rgba( 255, 255, 255, .1 ); }
}

body.dark-mode nav {
  background-color: #333;
}

body.dark-mode nav li a {
  color: gold;
}

body.dark-mode nav li {
  background-image: linear-gradient(to right, transparent, transparent),linear-gradient(to right, gold, gold);
  background-size: 100% 2px, 0% 0px;
  background-position: 0px 100%, 100% 100%;
  background-clip: content-box;
  background-origin: padding-box;
  background-attachment: scroll;
  background-repeat: no-repeat;
  transition: background-size 0.4s ease 0s;
}

body.dark-mode nav li:hover {
  background-size: 0% 2px, 100% 2px;
  background-position: 100% 100%, 0px 100%;
}

body.dark-mode {
  header, main {
    background-color: #333;
    color: whitesmoke;
  }

  footer {
    background-color: gold;
    color: #333;
  }
}

body.dark-mode main {
  p, h1, h2, h3, h4, li, .blah > div {
    color: whitesmoke;
  }
}

body.dark-mode header {
  .ananke-socials a {
    color: gold;
  }
}

body.dark-mode footer {
  .ananke-socials a {
    color: #333;
  }
}

/** */

body.dark-mode #TableOfContents li a {
  color: whitesmoke;
}


/** fix name color change in footer (source in main.scss ...) */

footer > div > a:hover{
  color: inherit !important;
}

