/** Navigation */

/** Fix email icon color */

#SVGRepo_iconCarrier path {
  stroke: currentColor;
}



.theme-icon {
  cursor: pointer;
  transition: 0.2s;
  stroke: currentColor;
  opacity: 0.68;
  width: 26px;
  height: 26px;
}

.theme-icon:hover {
  opacity: 1.0;
}


